/* 페이지의 메인 레이아웃 */
.container-wrap{
    margin-top: 15vh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.main-tit-wrap{
    text-align: center;
    margin-bottom: 2em;
}
.main-tit{
    font-size: 20px;
    font-weight: bold;
    margin-top: 5vh;
    display: inline-block;
    text-align: left;
}
.main-row{
    margin-bottom: 2vh;
}

/* 입력창 제어 */
.input-label{
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
}
.check-dup-btn-wrap{
    position: relative;
}
.check-btn{
    position: absolute;
    background-color: #9d9fa2;
    border: solid 0px #9d9fa2;
    opacity: 0.9;
}
.check-dup{ 
    /* grid내부 정렬용 간격 */
    margin-top: 22px;
}
.term-service-btn{
    margin-left: 3vw;
    width: 10vw;
    margin-bottom: 2vh;
}
.check-btn:hover{
    background-color: #9d9fa2;
    opacity: 1;
}
.check-btn:focus{
    background-color: #9d9fa2;
    opacity: 1;
}

/* 안내 문자 서식 */
.notice-style{
    font-size: 15px;
    color: #9d9fa2;
    display: inline-block;
    margin-bottom: 1vh;
}

/* 가입버튼 */
.notice-wrap{
    text-align: center;
    margin-top: 5vh;
}

.register-btn{
    background-color: #145f7a;
    color: #FFF;
    opacity: 0.9;
    width: 20vw;
}
.register-btn:hover{
    background-color: #145f7a;
    opacity: 1;
}
.register-btn:focus{
    background-color: #145f7a;
    opacity: 1;
}