/* 반응형 적용 시 기준 -bootstrap */
/* 
lg ≥992px
md ≥768px
sm ≥576px
  */
.loginContainer {
    margin-top: 100px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.login-tit{
    font-size: 40px;
    font-weight: bold;
}

/* 아이디&패스워드 영역 */
.id-pw-wrap{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#id-pw {
    /*글씨*/
    font-size: 20px;
    color: black;
    font-weight: bold;
}

#id-pw-input {
    /*모양*/
    border-radius: 5px;

    /*글씨*/
    font-size: 18px;
    color: black;
    font-weight: normal;
}

/*로그인 버튼*/
.login-btn {

    /*색*/
    background-color: #145f7a;
    opacity: 0.9;

    /*모양*/
    border: solid 0px #145f7a;
    border-radius: 5px;

    /*글씨*/
    font-size: 30px;
    color: white;
    font-weight: bold;
    width: 10em;
    height: 2em;
}

/*호버*/
.login-btn:hover {
    background-color: #145f7a;
    opacity: 1;
}
.login-btn:focus{
    background-color: #145f7a;
    opacity: 1;
}

/*안내 문구 */
.notice {
    font-size: 8px;
    color: #9d9fa2;
}

/* 비밀번호 재설정 & 회원가입 */
.option-wrap{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.reset-pw {
    /*글씨*/
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}
.reset-pw:hover {
    color: #145f7a;
    font-size: 21px;
}
.signup{
    /*글씨*/
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}
.signup:hover {
    color: #145f7a;
    font-size: 21px;
}
